/* Hero Section */
.hero__section {
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), 
    url("../assets/images/home.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;  /* 페이지가 로드될 때 화면 전체에 이미지를 보여줌 */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: opacity 0.5s ease-out;
    z-index: 1;
}

/* When scrolling, image fades out */
.hero__section.hidden {
    opacity: 0;  /* 스크롤시 이미지가 사라짐 */
}

/* Title style */
.hero__section h1 {
    font-size: 5rem;
    color: white;
    font-weight: bold;
    z-index: 1; /* 텍스트가 배경 위에 오도록 설정 */
}

/* Package Tours 섹션 */
.hotels {
    padding-top: 60px;
    transition: transform 0.5s ease-out;
}

.hotels.hidden {
    transform: translateY(-50px);  /* 스크롤 내리면 Package Tours 위로 올라가도록 설정 */
}

/* Content Sections */
.section__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0rem;
}
