.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 10px;
}

.pagination button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

.pagination button.active,
.pagination button:hover {
    background-color: blue;
    color: white;
}

.active__page {
    background: var(--secondary-color);
    color: #fff !important;
}
